.logo{
  width: auto;
  height: auto;
  margin: 0px;
}


.button {
    margin: 0;
    height: auto;
    background: transparent;
    padding: 0;
    border: none;
    cursor: pointer;
  }
  
  
  .button {
    --border-right: 6px;
    --text-stroke-color: rgba(255,255,255,0.6);
    --animation-color: #37FF8B;
    --fs-size: 2em;
    letter-spacing: 3px;
    text-decoration: none;
    font-size: 30px;
    font-family: 'Tahoma';
    position: relative;
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke: 1px var(--text-stroke-color);
  }
  
  .hover-text {
    position: absolute;
    box-sizing: border-box;
    content: attr(data-text);
    color: var(--animation-color);
    width: 0%;
    inset: 0;
    border-right: var(--border-right) solid var(--animation-color);
    overflow: hidden;
    transition: 0.5s;
    -webkit-text-stroke: 1px var(--animation-color);
  }
  
  .button:hover .hover-text {
    width: 100%;
    filter: drop-shadow(0 0 23px var(--animation-color))
  }



  /*MENU LATERAL*/
  .layout-menu ul a {
    
    font-size: 17px!important;
  }

.layout-menu ul a:hover {
  display: flex;
  align-items: center;
  position: relative;
  outline: 0 none;
  color: black;
  cursor: pointer;
  padding: 0.75rem 1rem;
  border-radius: 12px;
  transition: background-color 0.9s, box-shadow 0.2s;
  background-color: #37FF8B;
  // font-weight: 600;
}

.layout-menu ul a.active-route {
  font-weight: 700;
  color: #37FF8B;
}

.layout-menu ul a.active-route:hover {
  font-weight: 700;
  color: #37FF8B;
  color: black;
}




.pi-Lateral{
  font-size: 2rem!important;
}