.imgNoticias {
  width: 338.7px;
  height: 225px;
  border-radius: 14px;
}

.imgNoticiasAdmin {
  width: 352.7px;
  height: 225px;
  border-radius: 14px;
}

.button {
  padding: 0px;
  margin: 0px;
  border: 0px;
  background-color: #18181b;
}

.card:last-child {
  margin-bottom: auto !important;
}

.card {
  background: var(--surface-card);
  border: 0px solid var(--surface-border) !important;
  padding: 1rem !important;
  margin-bottom: 2rem !important;
  box-shadow: var(--card-shadow) !important;
  border-radius: 12px !important;
}

/*BOTON CREAR NOTICIAS*/

.tablecoments {
  word-wrap: break-word;
  width: 100px !important;
}

.pi-trash {
  font-size: 30px !important;
  color: #e10017;
}

.pi-pencil {
  font-size: 30px !important;
  color: #bb00b4;
}

.searchbar {
  --green: #37FF8B;
  color: black !important;
  ;
  font-size: 15px;
  padding: 0.7em 2.7em;
  position: relative;
  font-family: Tahoma;
  border-radius: 1em;
  line-height: 1.4em;
  border: 2px;
  font-weight: bold;
  box-shadow: inset 0 500px 10px rgba(27, 253, 156, 1);
  width: 270px;

}

.searchcategoria {
  --green: #37FF8B;
  color: white !important;
  font-size: 15px;
  padding: 0.7em 2.7em;
  position: relative;
  font-family: Tahoma;
  border-radius: 1em;
  line-height: 1.4em;
  border: 2px solid var(--green);
  font-weight: bold;
  width: 270px;
  background-color: #18181b;

}

.estilooption {
  --green: #37FF8B;
  color: white !important;
  font-size: 15px;
  padding: 0.7em 2.7em;
  position: relative;
  font-family: Tahoma;
  border-radius: 1em;
  line-height: 1.4em;
  border: 2px solid var(--green);
  width: auto;
  background-color: #18181b;
}


.searchcategoria option {
  background-color: #18181b;
  color: white;
  padding: 0.7em 2.7em;
  font-family: Tahoma;
  font-size: 15px;

}

.centrarfiltros {
  display: inline-flex;
}
.pNoticias1{
  color: white;
  font-size: 20px;
}
.pNoticias2{
  color: white;
  font-size: 24px;
}
.pNoticias3{
  color: white;
  font-size: 18px;
}
.pNoticias4{
  color: white;
  font-size: 14px;
}

@media (max-width: 600px) {
  .centrarfiltros {
      display: inline-flex;
      justify-content: center!important;
      align-items: center!important;
  }
  .searchcategoria{
    width: 160px!important;
    font-size: 12px!important;
  }
  .searchbar{
    width: 160px!important;
    font-size: 12px!important;
  }
}