.temporizador {
  font-size: 24px;
  font-weight: bold;
  color: white;
  padding: 10px 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/*PARTIDO*/




.imgJugadoresPartido{
  width: 140px;
  height: 200px;
  margin: auto;
}



.cardFondoPartido1{
  background-color: rgba(0, 255, 255, 0)!important;
}

.cardFondoPartido2{
  background-color: rgba(0, 255, 255, 0)!important;
}



.fondoPartidoGlobal{
  background-image: url(../../public/images/fondoPartido.jpg)!important;
  background-repeat: no-repeat;
  background-size: 100% 100%!important;
  border-radius: 14px;
  display: inline-flex;

}

.paddingNombrePlantillas{
  padding: 20px;
}

@media only screen and (max-width: 600px) {
  .fondoPartidoGlobal{
    background-image: url(../../public/images/fondoPartido.jpg)!important;
    background-repeat: no-repeat;
    background-size: 100% 100%!important;
    border-radius: 14px;
    display: inline-flex;
  }

  .ordenaCratas{
    flex-direction: column-reverse;
  }
  
}