.gold {
    color: gold;
  }
  
  .silver {
    color: silver;
  }
  
  .bronze {
    color: #cd7f32;
  }
  
  .white {
    color: white;
  }
  
  .table-container {
    border: 2px solid #37ff8a;
    border-radius: 8px;
    /* overflow: hidden; */
  }
  
  .fila {
    background: #18181b7c;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* Centra verticalmente el contenido */
  }
  
  .fila.header {
    color: #18181b;
    background: #37ff8a;
    font-weight: bold;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    
    margin-bottom: -0px; /* Margen inferior negativo */
  }
  
  .cell {
    flex: 1;
    /* Ajusta el tamaño de todas las celdas */
    font-size: 18px;
    line-height: 1.2;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
  }
  
  .medallas{
    display: inline-flex;
  }
  
  
  .logged-user .cell {
    color: #37ff8aed !important;
    font-weight: 550 !important;
  }
  
  .position-number {
    font-size: inherit;
    display: inline-block;
  }